*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.space{
    background-image:url(./assets/images/Free\ download\ Website\ Updated\ With\ New\ Space\ Background\ And\ Star.png)
    
}