*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-icon{
    position:relative;
}

.menu-icon img{
    width: 70px;
    
}

.menu{
    list-style-type: none;
    position: absolute;
    left: -50px;
    width: 50px;
     border: 2px solid black;
}

.dynamic{
    left: 0;
    transition: all 1s;
}


